# ignore the data create course directory
d3-start-to-finish-code/

# ignore the keynote file
keynote/keynote_Apr14.key
keynote/layering.psd

# ignore test implementation file
bubble-chart/
connected_species/
keynote/Customization V2.mov
keynote/标本墙/1.jpg
keynote/标本墙/10.jpg
keynote/标本墙/11.jpg
keynote/标本墙/12.jpg
keynote/标本墙/13.jpg
keynote/标本墙/14.jpg
keynote/标本墙/15.jpg
keynote/标本墙/16.jpg
keynote/标本墙/17.jpg
keynote/标本墙/18.jpg
keynote/标本墙/19.jpg
keynote/标本墙/2.jpg
keynote/标本墙/20.jpg
keynote/标本墙/21.webp
keynote/标本墙/22.jpg
keynote/标本墙/23.jpeg
keynote/标本墙/23.png
keynote/标本墙/24.jpg
keynote/标本墙/25.jpg
keynote/标本墙/26.jpg
keynote/标本墙/27.jpg
keynote/标本墙/28.jpg
keynote/标本墙/29.jpg
keynote/标本墙/3.jpg
keynote/标本墙/30.jpg
keynote/标本墙/31.png
keynote/标本墙/32.jpg
keynote/标本墙/33.jpg
keynote/标本墙/34.jpg
keynote/标本墙/35.jpg
keynote/标本墙/36.jpg
keynote/标本墙/37.jpg
keynote/标本墙/38.jpg
keynote/标本墙/39.jpg
keynote/标本墙/4.jpg
keynote/标本墙/40.jpg
keynote/标本墙/41.jpg
keynote/标本墙/42.png
keynote/标本墙/43.jpg
keynote/标本墙/44.jpg
keynote/标本墙/45.jpg
keynote/标本墙/5.jpg
keynote/标本墙/6.jpg
keynote/标本墙/7.jpg
keynote/标本墙/8.jpg
keynote/标本墙/9.jpg
keynote/标本墙/logo.png
keynote/material/adjustlayer.png
keynote/material/colorlegend.png
keynote/material/connectedstory.png
keynote/material/cover.png
keynote/material/footer.png
keynote/material/lengend2.png
keynote/material/map_footer.png
keynote/material/map_png.png
keynote/material/maplegend.png
keynote/material/mask.png
keynote/material/maskcoverofgroup.png
keynote/material/nameplate.png
keynote/material/population.png
keynote/material/populationFooter.png
keynote/material/popup1.png
keynote/material/popup2.png
keynote/material/scenarios.png
keynote/material/taxo.png
keynote/material/WX20210506-221619@2x.png
keynote/material/替补.png
keynote/material/替补2.png
